<div class="signUpTitle">
  Login
</div>

<div class="wrapper">
  <div class="signUpContainer">
    <div class="signUpForm">
      <%= form_tag login_path do %>
        <div class="inputForm">
          <%= label_tag :email %>
          <%= email_field_tag :email, nil %>
          <br>
          <%= label_tag :password %>
          <%= password_field_tag :password, nil %>

        </div>
        <div class="submitBox">
          <%= submit_tag 'Login' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='errors'>
    <% if flash[:errors].present?  %>
       <strong>Please correct the following errors:</strong>
       <ol>
       <% flash[:errors].each do |error| %>
         <li><%= error %></li>
       <% end %>
       </ol>
    <% end %>
  </div>
</div>
