<h1>Users#update</h1>
<p>Find me in app/views/users/update.html.erb</p>

<div class="col-10">
  <div class="col-12 col-md-8">
    <div class="reviewsBox reviewsScrollIndex">
      <% @user.reviews.each do |r| %>
        <div class="reviewCard">
          <div class="reviewTitle">
            <p class="inlineBlock floatLeft"><%= cl_image_tag r.user.image, class: "profileImage" %></p>
            <p class="inlineBlock"><%=link_to r.user.name, user_path(r.user) %> on <%= link_to r.created_at.strftime("%D at %I:%M%p"), review_path(r.id) %> about <%= link_to r.restaurant.name, restaurant_path(r.restaurant) %>:</p>
        </div>
          <div class="reviewContent">
            <%= r.content %>
          </div>
          <div class="reviewImageBox">
            <%= cl_image_tag r.image, class: "reviewImage" %>
          </div>
          <div class="favReview">
            Rating: <%= r.rating %> / 5.0 |
            Likes: <%= r.liked_by.length %>
            <%= link_to 'Like Post', like_review_path(r.id), :id => "#{r.id}" %>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
