<div class="wrapper">
  <div class="backgroundImgContainer">
    <%= image_tag @restaurant.image, class: "backgroundImg" %>
  </div>
  <div class="textRestaurant">
    <div class="restaurantTitle">
      <h2><%= @restaurant.name %></h2>
    </div>
  </div>
    <!-- <%= link_to 'Edit Restaurant', edit_restaurant_path %>
    <%= link_to 'Delete Restaurant', restaurant_path, method: 'delete' %> -->
</div>
  <div class="infoCard">
    <div class="textCard">
      <h2><%= @restaurant.name %></h2>
    <ul>
        <li>Latest 3 Hatted Award: <%= @restaurant.year %></li>
        <li>Address: <%= @restaurant.address %></li>
        <li>Opening Hours: <%= @restaurant.open_hrs %></li>
        <li>Average Cost for two: $<%= @restaurant.cost_two %></li>
        <li>Phone: <%= @restaurant.phone %></li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum congue ultricies. Nam facilisis vulputate venenatis. Nulla convallis tempor nibh id gravida. Praesent vel venenatis velit. Fusce ut ipsum congue augue tempus lacinia. Curabitur varius quam quis euismod tincidunt. Etiam ullamcorper suscipit est, sit amet egestas urna aliquam imperdiet. Vivamus sit amet augue nec velit porttitor tincidunt vel sit amet urna. Nullam tristique feugiat dictum. Vestibulum mattis eu massa at vehicula. Nam vel tincidunt ligula, eget posuere massa. Ut sollicitudin, mauris non tincidunt iaculis, leo lacus fringilla tortor, vel sagittis lacus odio scelerisque orci.

        Sed mattis mollis porttitor. Praesent in quam et odio pharetra rutrum a sit amet augue. Morbi non aliquam elit. Cras fermentum dui dui, et scelerisque enim facilisis porta. Suspendisse at nibh augue. Cras fermentum odio metus, nec dictum urna sagittis sed. Curabitur nibh lectus, rutrum id hendrerit consequat, dictum euismod lacus. Cras nulla diam, ornare nec aliquam a, tincidunt in justo.

    </ul>
    What people are saying:
    <% @restaurant.reviews.each do |r| %>
    <ul>
      <p><%= r.user.name %> on ENTERDATE:</p>
      <li><%= r.content %></li>
    </ul>

    <% end %>
  </div>
</div>
