<div class="wrapper">
  <div class="backgroundImgContainer">
    <%= image_tag @restaurant.image, class: "backgroundImg" %>
  </div>
  <div class="textRestaurant">
    <div class="restaurantTitle">
      <h2><%= @restaurant.name %></h2>
    </div>
  </div>
    <!-- <%= link_to 'Edit Restaurant', edit_restaurant_path %>
    <%= link_to 'Delete Restaurant', restaurant_path, method: 'delete' %> -->
</div>
  <div class="infoCard">
    <div class="textCard">
      <h2><%= @restaurant.name %></h2>
    <ul>
        <li>Latest 3 Hatted Award: <%= @restaurant.year %></li>
        <li>Address: <%= @restaurant.address %></li>
        <li>Opening Hours: <%= @restaurant.open_hrs %></li>
        <li>Average Cost for two: $<%= @restaurant.cost_two %></li>
        <li>Phone: <%= @restaurant.phone %></li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum congue ultricies. Nam facilisis vulputate venenatis. Nulla convallis tempor nibh id gravida. Praesent vel venenatis velit. Fusce ut ipsum congue augue tempus lacinia. Curabitur varius quam quis euismod tincidunt. Etiam ullamcorper suscipit est, sit amet egestas urna aliquam imperdiet. Vivamus sit amet augue nec velit porttitor tincidunt vel sit amet urna. Nullam tristique feugiat dictum. Vestibulum mattis eu massa at vehicula. Nam vel tincidunt ligula, eget posuere massa. Ut sollicitudin, mauris non tincidunt iaculis, leo lacus fringilla tortor, vel sagittis lacus odio scelerisque orci.

    </ul>
    What people are saying:
    <div class="reviewsBox">
      <% @restaurant.reviews.each do |r| %>
      <div class="reviewCard">
        <p><%= r.user.name %> on ENTERDATE:</p>
        <div class="reviewContent">
          <%= r.content %>
        </div>
        <div class="reviewImageBox">
          <%= image_tag r.image %>
        </div>
        <div class="favReview">
          Favourites: AMOUNT
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
