<div>
  <% if flash[:errors].present? %>
    Please correct:
    <ol>
      <% flash[:errors].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ol>
  <% end %>
</div>
<div>
  <%= form_for @review, html: {multipart: true} do |f| %>

      <%= f.label :restaurant_id, 'Restaurant' %>
      <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, prompt: 'Please choose a Restaurant'%>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.label :rating %>
      <%= f.text_field :rating %>

      <%= f.label :image %>
      <%= f.cl_image_upload :image %>

      <%= f.submit %>

  </div>

  <% end %>
</div>
