<h2>Experiences</h1>

<div class="container indexReviewBox">
  <div class="row">
    <div class="col-10">
      <div class="col-12 col-md-8">
        <div class="reviewsBox reviewsScrollIndex">
          <% @reviews.each do |r| %>
            <div class="reviewCard">
              <div class="reviewTitle">
                <p class="inlineBlock floatLeft"><%= image_tag r.user.image, class: "profileImage" %></p>
                <p class="inlineBlock"><%=link_to r.user.name, user_path(r.user) %> on ENTERDATE about <%= link_to r.restaurant.name, restaurant_path(r.restaurant) %>:</p>
            </div>
              <div class="reviewContent">
                <%= r.content %>
              </div>
              <div class="reviewImageBox">
                <%= cl_image_tag r.image, class: "reviewImage" %>
              </div>
              <div class="favReview">
                Rating:<%= r.rating %>/5 |
                Likes: AMOUNT
              </div>
            </div>
            <% end %>
          </div>
      </div>
    </div>


    <div class="col">
      <% if @current_user.present? %>
        <%= link_to 'Share your experience', new_review_path %>
        Likes?
        <br>
        Follows?
      <% end %>
    </div>
  </div>
</div>
