<h2>FOOD REVIEWS</h1>

<% if @current_user.present? %>
      <p>Welcome <%= @current_user.name %></p>
      <%= link_to 'Make a new review', new_review_path %>
      <%= link_to 'Add a new Restaurant', new_restaurant_path %>
      <%= link_to 'LOG OUT', login_path, method: 'delete' %>
    <% else %>
      <%= link_to 'LOG IN', login_path %>
      <%= link_to 'Sign UP', new_user_path %>
<% end %>

<div>
<% @reviews.each do |review| %>
  <a href="<%= review_path(review) %>">
    <div class="reviewBox">
      <div class="reviewTitle">
        <h3><%= review.user.name %></h3> <h5> went to</h5> <h3><%= review.restaurant.name %></h3>
      </div>
      <div>
        <p><%= review.content %></p>
      </div>
      <div>
        <%= review.rating %> / 5.0
      </div>
      <div>
        <%= cl_image_tag review.image, class: 'restaurantImg' %>
      </div>
    </div>
  </a>

<% end %>

</div>
