<div class="paddingTitle">
  <h2><%= @review.user.name %>'s Post made on <%= @review.created_at.strftime("%D at %I:%M%p") %> about <%= link_to @review.restaurant.name, restaurant_path(@review.restaurant) %> </h2>
  <% if @current_user == @review.user %>
    <%= link_to 'Edit Post', edit_review_path(@review) %>
    <%= link_to 'Delete Post', review_path, method: 'delete' %>
  <% end %>
</div>

<div class="container indexReviewBox">
  <div class="row">
    <div class="col">
      <div class="col col-md-8">
        <div class="reviewsBox reviewsScrollIndex">
            <div class="reviewCard">
              <div class="reviewTitle">
                <p class="inlineBlock floatLeft"><%= cl_image_tag @review.user.image, class: "profileImage" %></p>
                <p class="inlineBlock"><%=link_to @review.user.name, user_path(@review.user) %> on <%= link_to @review.created_at.strftime("%D at %I:%M%p"), review_path(@review) %> about <%= link_to @review.restaurant.name, restaurant_path(@review.restaurant) %>:</p>
            </div>
              <div class="reviewContent">
                <%= @review.content %>
              </div>
              <div class="reviewImageBox">
                <%= cl_image_tag @review.image, class: "reviewImage" %>
              </div>
              <div class="favReview">
                Rating: <%= @review.rating %> / 5.0 |
                Likes: <%= @review.liked_by.length %>
                <% if @review.liked_by.include? @current_user %>
                  <%= link_to 'Unlike Post', unlike_review_path(@review), :id => "#{@review.id}" %>
                <% else %>
                  <%= link_to 'Like Post', like_review_path(@review.id), :id => "#{@review.id}" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="col-2 col">
      <%= form_tag(reviews_path, method: :get) do %>
        <%= text_field_tag :name %><%= submit_tag "Search a User's Posts" %>
      <% end %>
    </div>
  </div>
</div>
